body {
    font-family: monospace;
    font-size: 18px;
    background-color: white;
    color: black;
}

article {
    line-height: 1.4em;
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    overflow: break;
}

section p {
    margin-top: 1em;
}

section div {
    font-family: Georgia, serif;
    text-align: right;
    font-size: 0.8em;
}

.word {
    cursor: pointer;
    display: inline-block;
}

.word.black {
    background-color: black;
}

.word.black::selection {
    background-color: crimson;
}

.word:hover {
    background-color: orange;
}

.word.black:hover {
    background-color: beige;
}

#afterword {
    font-family: Georgia, serif;
    font-size: 0.6em;
    color: #444;
    text-align: center;
    margin: 3em;
}
